<!--clients/home.html-->

{% extends "base.html" %}

<!-- Карточки статистики -->
{% block content %}
<div class="album py-1 mt-1">
    <div class="container">

        <!-- Блок трёх инфо-карточек -->
        <div class="row g-4">

            <!-- Карточка_1 -->
            <div class="col-md-4">
                <div class="card ss-card shadow-sm h-100">
                    <div class="card-body">
                        <h5 class="card-title ss-card-title">
                            Всего рассылок
                            <span class="badge badge-ss-purple ms-1">all</span>
                        </h5>
                        <p class="display-6">{{ total_mailings }}</p>
                        <p class="ss-card-text">
                            Общее количество всех созданных рассылок.
                        </p>
                    </div>
                </div>
            </div>

            <!-- Карточка_2 -->
            <div class="col-md-4">
                <div class="card ss-card shadow-sm h-100">
                    <div class="card-body">
                        <h5 class="card-title ss-card-title">
                            Активных рассылок
                            <span class="badge badge-ss-orange ms-1">live</span>
                        </h5>
                        <p class="display-6">{{ active_mailings }}</p>
                        <p class="ss-card-text">
                            Количество активных рассылок со статусом «{{ active_status_label }}».
                        </p>
                    </div>
                </div>
            </div>

            <!-- Карточка_3 -->
            <div class="col-md-4">
                <div class="card ss-card shadow-sm h-100">
                    <div class="card-body">
                        <h5 class="card-title ss-card-title">
                            Клиенты
                            <span class="badge badge-ss-uniq ms-1">uniq</span>
                        </h5>

                        <p class="display-6">{{ unique_recipients }}</p>
                        <p class="ss-card-text">
                            Количество уникальных клиентов в системе оповещения.
                        </p>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
{% endblock %}