<!--clients/message_confirm_delete.html-->

{% extends "base.html" %}
{% block title %}Удалить сообщение{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6 col-lg-5 text-center">
        <h1 class="mb-3">Удалить сообщение</h1>
        <p class="ss-card-text mb-4">
            Вы действительно хотите удалить сообщение <strong>{{ object.subject }}</strong>?
        </p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger me-2">Удалить</button>
            <a href="{% url 'clients:message_list' %}" class="btn btn-outline-secondary my-1">Отмена</a>
        </form>
    </div>
</div>
{% endblock %}